html {
   font-family: Arial, Helvetica, sans-serif;
   }
   body {
    background-color: #212429;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: wheat;
   }
   button {
    background-color: #212429;
    color: white;
    }
    #calcualdora{
        background-color: #34383E;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        border: .01em double #777;
        box-shadow: 2px 2px 2px 1px rgba(0, 0 , 0, .7);
        gap: 10px;
    }
    #authorVersion {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #display {
        height: 50px;
        background-color: aquamarine;
        color: black;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 40px;
        padding: 10px;
    }
    #functions {
        display: flex;
        justify-content: space-between;
    }
    #functions .btn_function button {
        width: 30px;
        height: 20px;
        border-radius: 10px;
    }
    #functions .btn_function:nth-last-child(3) button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3em 3em 5em 5em;
        width: 70px;
        height: 50px;
    }
    .btn_function {
        display: flex;
        flex-direction: column;
    }
    #othersOp {
        display: grid;
        grid-template-columns: repeat(6,41px);
        gap: 4px;
    }
    #numbers {
        display: grid;
        grid-template-columns: repeat(5,50px);
        gap: 4px;
    }
    #numbers button {
        border-radius: 5em 0 .5em 0;
    }
    .hidden {
        visibility: hidden;
    }
    .color {
        background-color: rgb(240, 33, 33);
    }
